.admin-sidebar {
  background-color: #353535;
  color: #ffffff;
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; /* Align icons to center when sidebar is closed */
}

.admin-sidebar.open {
  width: 250px;
  align-items: flex-start; /* Align items to start when sidebar is open */
}

.admin-profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 100%; /* Ensure profile section takes full width */
}

.admin-profile .admin-photo {
  border-radius: 50%;
  margin-right: 10px;
  width: auto;
  height: 200px;
}

.nav-link {
  color: #ffffff;
  font-size: 18px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  flex-grow: 1;
  justify-content: center; /* Center content when sidebar is closed */
}

.nav-link:hover {
  background-color: #636363;
  color: #f9f9f9;
}

.nav-link.active {
  color: #ffffff;
}

.icon {
  margin-right: 15px;
}

.nav-link span {
  display: none; /* Hide text initially */
}

.admin-sidebar.open .nav-link {
  justify-content: flex-start; /* Align items to start when sidebar is open */
}

.admin-sidebar.open .nav-link span {
  display: inline; /* Show text when sidebar is open */
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  background-color: #353535;
  border: none;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}
